<!--<mat-grid-list cols="1">
    <mat-grid-tile>
        <button mat-raised-button color="primary" (click)="login()">
            Enter
        </button>
        <button mat-raised-button color="warn" (click)="noLoginEnter()">
            Enter without LogIn
        </button>
    </mat-grid-tile>
</mat-grid-list>-->

<div class="container">
    <mat-card>
        <mat-card-content>
          <form  
                autocomplete="off"
                [formGroup]="miFormulario"
                (ngSubmit)="login()">
            <h2>Log In</h2>
            <mat-error *ngIf="">
              The username and password were not recognized
            </mat-error>
            <mat-form-field>
              <input matInput placeholder="Email"
                     name="username" 
                     required
                     formControlName="email">
              <mat-error>
                Please provide a valid email address
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                     type="password" placeholder="Password" name="password"
                     required
                     formControlName="password">
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <button mat-raised-button
                    color="accent"
                    type="submit"
                    [disabled]="miFormulario.invalid">
                Login
            </button>
       
          </form>
        </mat-card-content>
      </mat-card>
</div>


